* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url(tela-fundo.png);
}

.login-button {
    position: absolute;
    text-align: right;
    background-color: #d1357e;
    top: 4%;
    right: 5%;
    padding: 8px 25px;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #a82c66;
}

.menu-button {
    position: absolute;
    top: 3%;
    left: 5%;
    background-color: #d1357e;
    padding: 15px 15px;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.menu-button:hover {
    background-color: #a82c66;
}

.content {
    margin-top: 9%;
}

#texto {
    display: flex;
    align-items: center;
    margin-bottom: 0%;
}

#texto_bottom {
    margin-left: 30%;
    margin-right: 30%;
}

#texto_lat {
    margin-right: 30%;
}

img {
    width: fit-content;
    height: fit-content;
    margin-left: 28%;
    margin-right: 2%;
}

video {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
}

.signup-button {
    position: absolute;
    margin-top: 2%;
    left: 47%;
    background-color: #d1357e;
    padding: 8px 20px;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #a82c66;
}