* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #4860c2;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
}

#titulo {
    border: 1px solid;
}

#texto {
    display: flex;
    align-items: center;
    margin-left: 20%; 
}

p {
    margin-left: 20%;
    margin-right: 20%;
}

nav {
    flex: 1;
}

#desenvolvedores {
    width: 20%;
    height: 20%;
    margin-right: 10%;
}

footer {
    margin-top: 30%;
    text-align: center;
    padding: 5%;
    border-top: 1px solid;
    text-size-adjust: 5%;
    background-color: #6156c4;

}

@media only screen and (min-width: 720px) {

    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    
}