body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.question-number {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 24px;
}

.page-title {
    text-align: center;
    margin-top: 5%;
    color: #000; /* Cor do título */
}

.time-box {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 18px;
    color: #000; /* Cor do texto do tempo */
}

.question-table {
    position: absolute;
    top: 25%;
    left: 5%;
    right: 5%;
    height: 25%;
    text-align: center;
}

.question-table img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

.answer-box {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
}

.answer-button {
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00FFFF; /* Cor dos botões de alternativa */
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.answer-button + .answer-button {
    margin-left: 20px;
}

.back-button {
    position: absolute;
    bottom: 5%;
    left: 5%;
    background-color: #FF0000; /* Cor do botão "Voltar" */
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 5px;
}
