body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.login-button {
    margin-right: 5%;
    margin-top: 5%;
}

.menu-button {
    margin-top: 5%;
    margin-left: 5%;
}

.content {
    margin-top: 10%;
}

img {
    max-width: 100%;
}

video {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
}

.signup-button {
    bottom: 10%;
}
